<?php
/*
* Any Vararible for the menu go here
*/

	
?>
	
		<nav class="navbar navbar-expand bg-primary navbar-dark">
			<a class="navbar-brand" href="index.php">Pocket Pop! Keychains</a>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Show <span class="caret"></span></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="index.php?sort=character_owned">Owned - Alphabetical by Character</a>
						<a class="dropdown-item" href="index.php?sort=series_owned">Owned - Alphabetical by Series</a>
						<a class="dropdown-item" href="index.php?sort=character_wanted">Wanted - Alphabetical by Character</a>
						<a class="dropdown-item" href="index.php?sort=series_wanted">Wanted - Alphabetical by Series</a>
						<a class="dropdown-item" href="index.php?sort=default">Wanted - Recently Available</a>
						<a class="dropdown-item" href="index.php?sort=wanted_older">Wanted - Older</a>
						<a class="dropdown-item" href="index.php?sort=all">Everything</a>
					</div>
				</li>
			</ul>
		</nav>
		
