<?php
if(!empty($closing_scripts)) {
	$closing_scripts = $closing_scripts;
}
else {
	$closing_scripts = '';
}
?>
			<?php include 'layout/footer_menu.html'; ?>

		<!-- END conatainer -->
		</div>
		
		<?php echo $closing_scripts; ?>

<?php
/*************************
this will get the debug.html page and append it to the end
if debug = TRUE and file exists
*************************/
if($page_functions->is_debug() && $page_functions->debug_file_exist()) {
	include 'debug.html';
}
?>

	</body>
</html>
